<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Test Layout</title>
        <style type="text/css">
            body, html
            {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }

            #content
            {
                position:absolute; left: 0; right: 0; bottom: 0; top: 0px;
            }
        </style>
    </head>

  <body>
    <%= render 'layouts/flash_messages' %>

    <script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

    <script type="text/javascript">
      ShopifyApp.init({
        apiKey: "<%= ShopifyApp.configuration.api_key %>",
        shopOrigin: "<%= "https://#{ @shop_session.url }" if @shop_session %>",
        debug: true,
        forceRedirect: true
      });
    </script>
    <script type="text/javascript">
        ShopifyApp.ready(function(){
            ShopifyApp.Bar.initialize({});
        });
        console.log("Session URL: <%= "#{ @shop_session.url }" if @shop_session %>");
        console.log("Shop Name: <%= ShopifyAPI::Shop.current.name %>");
        console.log("Shop Access Token: <%= ShopifyAPI::Shop.headers['X-Shopify-Access-Token'] %>");
    </script>
    <script type="text/javascript">
      // can try to use the window.postmessage() function here? -- make sure its secure first
        function findFrame() {
            var shopObj = <%= ShopifyAPI::Shop.current.name %>;
            console.log("begin findFrame");
            // never finds signUpUnderline
            document.getElementById("signUpUnderline").onload = function() {
                console.log("middle findFrame!!!");
                if (document.getElementById("iframePresent")) {
                    console.log("FOUND SIGN UP TABLE MODAL");
                    document.getElementById('pontiacFrame').postMessage(shopObj, "https://26c05261.ngrok.io/#/");
                } else {
                    console.log("sign up modal not found")
                }
            };
            console.log("end findFrame")
            /* XSS vulnerable doesnt work
             console.log("begin findFrame");
             var iframe = document.getElementById("pontiacFrame");
             var innerDoc = iframe.contentDocument || iframe.contentWindow.document;
             console.log("inner doc?????");
             innerDoc.getElementById("signUpUnderline").onclick = function() {
             console.log("middle findFrame!!!");
             if (innerDoc.getElementById("iframePresent")) {
             console.log("FOUND SIGN UP TABLE MODEL")
             } else {
             console.log("sign up model not found")
             }
             };
             console.log("end findFrame")
             */
        }
    </script>
    <div id="content">
      <iframe id="pontiacFrame" width="100%" height="100%" frameborder="0" src="https://26c05261.ngrok.io/#/" onload="findFrame()"/>
    </div>

    <% if content_for?(:javascript) %>
      <div id="ContentForJavascript" data-turbolinks-temporary>
        <%= yield :javascript %>
      </div>
    <% end %>
  </body>
</html>
