<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Test Layout</title>
        <style type="text/css">
            body, html
            {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }

            #content
            {
                position:absolute; left: 0; right: 0; bottom: 0; top: 0px;
            }
        </style>
    </head>

  <body>
    <%= render 'layouts/flash_messages' %>

    <script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

    <script type="text/javascript">
      ShopifyApp.init({
        apiKey: "<%= ShopifyApp.configuration.api_key %>",
        shopOrigin: "<%= "https://#{ @shop_session.url }" if @shop_session %>",
        debug: true,
        forceRedirect: true
      });
    </script>
    <script type="text/javascript">
        ShopifyApp.ready(function(){
            ShopifyApp.Bar.initialize({});
        });
    </script>
    <script type="text/javascript">
      // html_safe creates xss vulnerabilities but "React basically makes it so you
      // can't insert markup unless you create the elements yourself in the render function"
      // as long as you avoid using dangerouslySetInnerHTML()
      // https://stackoverflow.com/questions/33644499/what-does-it-mean-when-they-say-react-is-xss-protected
      var shopObj = <%= ShopifyAPI::Shop.current.to_json.to_s.html_safe %>;
      var accessToken = "<%= ShopifyAPI::Shop.headers['X-Shopify-Access-Token'] %>";
      window.addEventListener("message", function receiveMessage(event)
      {
          // if an event of type "message" and trusted origin reaches window obj
          // check that the message.data is == to some predetermined value.
          // Respond with shop.current obj and that shop's unique access token once trusted.
          if (event.origin !== "https://ad32d03c.ngrok.io") {
              // console.log("Error Different Origin: " + event.origin);
          } else if (event.data === "modalOpened") {
              event.source.postMessage(shopObj, "https://ad32d03c.ngrok.io");
              event.source.postMessage(accessToken, "https://ad32d03c.ngrok.io");
          }
      }, false);
    </script>

      <iframe width="100%" height="100%" frameborder="0" src="https://ad32d03c.ngrok.io"/>

    <% if content_for?(:javascript) %>
      <div id="ContentForJavascript" data-turbolinks-temporary>
        <%= yield :javascript %>
      </div>
    <% end %>
  </body>
</html>
